.charList {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.char {
  background-color:black;
  color: goldenrod;
  width: 700px;
  margin: 20px;
  border-radius: 10px;
}
.char:hover {
  background-color: goldenrod;
  color: black;
}
.charName {
  font-family: 'Geostar Fill', cursive;
  text-shadow:1px 1px 1px #fff;
}